<footer>
    <div class="container">
        <div class="flex-center">
            <a href="" title="" class="logo"><img src="./assets/img/logo1.png" alt=""></a>
            <ul class="menu flex">
                <li><a href="" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                <li><a href="" title="Chính sách cửa hàng">Chính sách cửa hàng</a></li>
                <li><a href="" title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                <li><a href="" title="Giftcode">Giftcode</a></li>
            </ul>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
        <div class="flex-center">
            <div class="text">
                VIEPLAY is a registered trademark. This website is operated by Vieplay. Please play responsibly, Game Online (GO) can be harmful if not controlled. To learn more about playing responsibly and the tools we have for you to use to control your GO, such as deposit limits, wagering limits. Please login to personalise your GO Limits.
            </div>
            <div class="copyright ml-auto">
                © 2021, VIEPLAY. All rights reserved
            </div>
        </div>
    </div>
</footer>