<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler flex-center" type="button">
            <span></span>
        </button>
        <a class="logo" href="https://thuclfc.gitlab.io/vieplay/build/home.html"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse" id="navbar">
            <div class="dropdown language">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> Vietnam</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> Vietnam</a>
                    <a class="dropdown-item" href="#"><img src="./assets/img/eng.png" alt=""> Eng</a>
                </div>
            </div>
            <ul class="navbar-nav">
                <li><a href="" title="Cửa hàng">Cửa hàng</a></li>
                <li><a href="https://thuclfc.gitlab.io/vieplay/build/nap-game.html" title="Nạp game">Nạp game</a></li>
                <li><a href="https://thuclfc.gitlab.io/vieplay/build/tin-tuc.html" title="Tin tức">Tin tức</a></li>
                <li><a href="https://thuclfc.gitlab.io/vieplay/build/faq.html" title="FAQ">FAQ</a></li>
                <li><a href="https://thuclfc.gitlab.io/vieplay/build/tro-giup.html" title="Trợ giúp">Trợ giúp</a></li>
            </ul>
            <div class="login">
                <div class="login__before flex" style="display:none;">
                    <a href="https://thuclfc.gitlab.io/vieplay/build/login.html" title="Đăng nhập">Đăng nhập</a>
                    <a href="https://thuclfc.gitlab.io/vieplay/build/register.html" title="Đăng ký" class="active">Đăng ký</a>
                </div>
                <div class="login__after login__after--pc flex-lc">
                    <div class="gold flex">Ví Gold: <span>40.000</span></div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle flex-lc" type="button" data-toggle="dropdown">
                            <img src="./assets/img/avatar.png" class="avatar" alt="">
                            <span>MihaVinataba</span>
                        </button>
                        <div class="dropdown-menu" >
                            <p>Xin chào, <br> Mihavinataba</p>
                            <a class="dropdown-item" href="https://thuclfc.gitlab.io/vieplay/build/account.html">Thông tin tài khoản</a>
                            <a class="dropdown-item" href="#">Lịch sử giao dịch</a>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </div>
                </div>
                <div class="login__after login__after--m">
                    <ul class="menu">
                        <li><a href="https://thuclfc.gitlab.io/vieplay/build/account.html" title="">Thông tin tài khoản</a></li>
                        <li><a href="" title="">Lịch sử giao dịch</a></li>
                    </ul>
                    <div class="flex-lc">
                        <div class="name flex-lc"><img src="./assets/img/avatar.png" class="avatar" alt="">MihaVinataba</div>
                        <button type="button" class="btn_logout">Đăng Xuất</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>