<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" id="contactus.fa.css-css" href="//use.fontawesome.com/releases/v5.8.1/css/all.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.game__list--slider').slick({
            centerMode: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            fade: false,
            dots: false,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        slidesToShow: 4,
                        infinite: true,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                }
            ]

        });

        $('.box-slider .slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        dots: true,
                        variableWidth: true,
                        fade: false,
                    }
                }
            ]
        });
        $('.box-slider .slider-nav').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            infinite: true,
            vertical: true,
            centerMode: false,
            arrows: false,
            focusOnSelect: true,
            responsive: [
                {
                    breakpoint: 1440,
                    settings: {
                        slidesToShow: 5,
                    }
                }
            ]
        });
    });
</script>
</body>
</html>