<main>
    <div class="account-page">
        <div class="account flex">
            <div class="account__left">
                <div class="avatar">
                    <div class="avatar__img"><img src="./assets/img/img9.png" alt=""></div>
                    <div class="avatar__name">MihaVinataba</div>
                </div>
                <div class="wallet pr">
                    <h5>Ví Gold</h5>
                    <div class="wallet__m flex-lc">40.0000 <i class="icon icon-wl"></i></div>
                    <a href="" title="" class="btn_recharge flex-center">Nạp Gold</a>
                </div>
                <ul class="tab nav">
                    <li><a href="#account" data-toggle="tab" class="active">Thông tin tài khoản</a></li>
                    <li><a href="#history" data-toggle="tab">Lịch sử giao dịch</a></li>
                    <li><a href="#changepassword" data-toggle="tab">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <div class="account__right">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account">
                        <h3>Thông tin tài khoản</h3>
                        <form action="" method="post" class="form">
                            <div class="form-group effect_border filled">
                                <div class="group">
                                    <label>UID</label>
                                    <input class="form-control" type="text" name="id" value="19721210" required="">
                                </div>
                            </div>
                            <div class="form-group effect_border filled">
                                <div class="group">
                                    <label>Tên hiển thị</label>
                                    <input class="form-control" type="text" name="name" value="MihaVinataba" required="">
                                </div>
                            </div>
                            <div class="form-group effect_border filled">
                                <div class="group">
                                    <label>Email</label>
                                    <input class="form-control" type="email" name="name" value="tra**********se@hotmail.com" required="">
                                </div>
                            </div>
                            <div class="form-group effect_border">
                                <div class="group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" type="number" name="name" value="" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="box-select pr">
                                    <h5>Quốc Gia</h5>
                                    <div class="selected flex-lc pr">
                                        <div class="flag"><img src="./assets/img/vn1.png" alt=""></div>
                                        <div class="country">Việt Nam</div>
                                    </div>
                                    <ul class="select_list">
                                        <li data-flag="./assets/img/vn1.png" data-country="Việt Nam"><img src="./assets/img/vn1.png" alt=""> Việt Nam</li>
                                        <li data-flag="./assets/img/eng.png" data-country="Mỹ"><img src="./assets/img/eng.png" alt=""> Mỹ</li>
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" class="btn_submit flex-center">Lưu thay đổi</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="history">
                        <h3>Lịch sử giao dịch Gold</h3>
                        <ul class="history-list">
                            <li>
                                <div class="status success">Thành công</div>
                                <div class="flex-lc">
                                    <p>Nạp Game: Võ Lâm Truyền Kỳ</p>
                                    <time>30/04/2021 - 11:25</time>
                                    <span class="gold ml-auto">-100.000</span>
                                </div>
                            </li>
                            <li>
                                <div class="status success">Thành công</div>
                                <div class="flex-lc">
                                    <p>Nạp Gold</p>
                                    <time>30/04/2021 - 11:25</time>
                                    <span class="gold ml-auto">+200.000</span>
                                </div>
                            </li>
                            <li>
                                <div class="status fail">Thất bại</div>
                                <div class="flex-lc">
                                    <p>Nạp Gold</p>
                                    <time>30/04/2021 - 11:25</time>
                                    <span class="gold ml-auto">500.000</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="changepassword">
                        <h3>Đổi mật khẩu</h3>
                        <form action="" method="post" class="form">
                            <div class="form-group effect_border">
                                <div class="group">
                                    <label>Mật khẩu hiện tại</label>
                                    <input class="form-control" type="password" name="password" required="">
                                </div>
                            </div>
                            <div class="form-group effect_border">
                                <div class="group">
                                    <label>Mật khẩu mới</label>
                                    <input class="form-control" type="password" name="password" required="">
                                </div>
                            </div>
                            <div class="form-group effect_border">
                                <div class="group">
                                    <label>Xác nhận mật khẩu mới</label>
                                    <input class="form-control" type="password" name="password" required="">
                                </div>
                            </div>
                            <button type="submit" class="btn_submit flex-center">Đổi mật khẩu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>