<main>
    <div class="page-detail">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-item--back"><a href="#">Quay lại trang tin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rộ tin 369 sắp rời Top Esports,...</li>
            </ul>
            <h1 class="title">Rộ tin 369 sắp rời Top Esports, khả năng Bin chia tay Suning càng được tăng cao</h1>
            <time><i class="fas fa-clock"></i> 12:00, 4.30.2021</time>
            <article class="detail">
                <h4>TES liệu có phải bến đỗ mới của Bin trong mùa hè này?</h4>
                <p>
                    Mới đây, truyền thông Trung Quốc tiếp tục đưa ra những thông tin đáng chú ý liên quan đến tình hình chuyển nhượng của các đội tuyển tại LPL. Cụ thể hơn, đã xuất hiện tin đồn về việc 369 - Tuyển thủ đường trên của Top Esports, sẽ chia tay đội tuyển này trong kỳ chuyển nhượng mùa hè.
                    Cựu vương LPL được cho là sẽ tiến hành một cuộc cải tổ toàn diện sau thất bại ê chề tại giải mùa xuân vừa qua, và 369 là một trong số những cái tên sẽ ra đi. Được biết, TES sẽ không gia hạn hợp đồng với 369, và tuyển thủ này có thể sẽ rời đội sau khi hợp đồng cũ kết thúc vào cuối năm 2021, tức là sau LPL Mùa Hè 2021 và CKTG 2021. Ngoài ra, đường giữa Knight cũng đang được Royal Never Give Up để mắt.
                </p>
                <figure>
                    <img src="./assets/img/img15.jpg" alt="" style="width:100%">
                    <figcaption>Hình ảnh của Bin hồi còn béo ú</figcaption>
                </figure>
                <p>
                    Cũng theo các nguồn tin trên, thì việc 369 ra đi sẽ khiến TES phải bổ sung nhân lực ở vị trí đường trên, và có vẻ như đội tuyển này đã là một trong những cái tên tham gia vào cuộc đua giành chữ ký của Bin. Việc chia tay 369 chỉ là động thái "dọn đường" để đưa tuyển thủ Suning về mà thôi. Bin có thể sẽ được TES chiêu mộ ngay trong mùa hè, hoặc sẽ đợi đến cuối năm, khi 369 rời đi.
                    Hiện tại, những tin đồn xoay quanh Bin đề liên quan đến những đội tuyển hàng đầu LPL, cả TES và RNG đều được cho là rất khát khao muốn có được sự phục vụ của anh. Tuy nhiên, RNG đang tham dự MSI, và nếu thành tích của họ khả quan (hạng nhì hoặc vô địch) thì không có lý do gì để Đương kim vô địch LPL thay đổi đội hình hiện tại.
                </p>
            </article>
            <div class="tags flex-lc">
                <h5>Tags: </h5>
                <div class="tags__list flex">
                    <a href="" title="">Liên minh huyền thoại</a>
                    <a href="" title="">Kiếm thế</a>
                    <a href="" title="">Pubg</a>
                    <a href="" title="">Võ lầm truyền kỳ</a>
                </div>
            </div>
            <div class="comment">
                <h2 class="title">Bình luận</h2>
                <ul class="comment__list">
                    <li>
                        <div class="avatar"><img src="./assets/img/img5.jpg" alt=""></div>
                        <div class="content">
                            <h5>Nguyễn Minh Hải</h5>
                            <time>5 phút trước</time>
                            <p>Cũng theo các nguồn tin trên, thì việc 369 ra đi sẽ khiến TES phải bổ sung nhân lực ở vị trí đường trên.</p>
                        </div>
                    </li>
                    <li>
                        <div class="avatar"><img src="./assets/img/img6.jpg" alt=""></div>
                        <div class="content">
                            <h5>Mạnh Halu</h5>
                            <time>5 phút trước</time>
                            <p>Hiện tại, những tin đồn xoay quanh Bin đề liên quan đến những đội tuyển hàng đầu LPL, cả TES và RNG đều được cho là rất khát khao muốn có được sự phục vụ của anh.</p>
                        </div>
                    </li>
                </ul>
                <div class="comment__form flex">
                    <div class="avatar"><img src="./assets/img/img5.jpg" alt=""></div>
                    <textarea placeholder="Nhập bình luận..."></textarea>
                    <button type="button" class="btn_send flex-center">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</main>