<main>
    <div class="faq-page">
        <div class="container">
            <h3>Frequently Asked Questions</h3>
            <time>Last Update: March 12, 2021</time>
            <ul class="faq-list">
                <li><a href="#faq1">What should I do if my product arrives damaged or defective, or isn't what I ordered?</a></li>
                <li><a href="#faq2">How do I return my Order?</a></li>
                <li><a href="#faq3">What are the conditions for returning my product(s)?</a></li>
                <li><a href="#faq4">When will I get my refund?</a></li>
                <li><a href="#faq5">When will you receive my return package?</a></li>
                <li><a href="#faq6">Why do I have to wait for adidas to receive my returned product(s) before I can get a refund?</a></li>
                <li><a href="#faq7">Can I exchange my product(s)?</a></li>
            </ul>
            <div class="faq-answer">
                <div class="item" id="faq1">
                    <h4>What should i do if my product arrives damaged or defective, or isn’t what i ordered?</h4>
                    <article>If you have received products which you did not order or a damaged/defective product please do not remove any tag and keep the original packaging in the same condition. We would recommend you to Contact customer service here
                        Mon - Friday (excluding Public Holidays): 9am to 6pm
                        and let the representative know the details of your package.
                        Our Customer Service team would also require you to provide visual evidence (e.g photo, video) of the products in order to expedite the process.
                    </article>
                </div>
                <div class="item" id="faq2">
                    <h4>How do i return my order?</h4>
                    <article>You can return your online order within 30 days of receiving your order.
                        *Please note that orders purchased with Samsung Galaxy Gift Voucher will not be eligible for return/refund.

                        Postal Returns:
                        Please kindly follow the following steps:
                        Contact our Customer Service team here
                        Provide our Customer Service team your order details and reason for returns.
                        Print out your return form(s) that will be provided by our Customer Service team via email.
                        Insert your return form into the return parcel, then seal the parcel.
                        Proceed to the nearest post office / carrier / other preferred services to post back your returns. Destination address to be mentioned in your return form.
                        Take note of the tracking number stated on the shipping label provided by the postal service / carrier / other preferred services as reference.
                    </article>
                </div>
                <div class="item" id="faq3">
                    <h4>What are the conditions for returning my product(s)?</h4>
                    <article>You can return your order within 30 days of receiving it. If you received items from one order in several parcels, the 30-days return period begins on the day you received the last parcel.
                        General Return Conditions
                        In order for a return to be accepted, it must meet the following conditions:

                        The product must be unused and unworn.
                        The product must be in its original state and packaging with the original tags attached.
                        Apparel must have the original packaging and original tags attached.
                        Accessories must have all parts of the original packaging. Accessories must remain vacuum - sealed if it comes in a sealed packaging.
                        Footwear must be in the original shoe box with original tags attached. Sticker on the shoe box should not be removed or altered in any form.
                    </article>
                </div>
            </div>
            <button type="button" class="btn_viewmore flex-center">Xem thêm</button>
        </div>
    </div>
</main>