<main>
    <div class="container">
        <div class="box-slider flex">
            <div class="slider slider-nav">
                <div class="item">
                    <img src="./assets/img/img1.jpg" alt="">
                    <h5>Thần Long Cửu Kiếm</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img5.jpg" alt="">
                    <h5>Võ Lâm Truyền Kỳ</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img6.jpg" alt="">
                    <h5>Con Đường Tơ Lụa</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img7.jpg" alt="">
                    <h5>Tam Quốc Chí 3D</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img3.jpg" alt="">
                    <h5>Hiệp Khách Giang Hồ</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <h5>Chân Long Giáng Thế</h5>
                </div>
                <div class="item">
                    <img src="./assets/img/img3.jpg" alt="">
                    <h5>Hiệp Khách Giang Hồ</h5>
                </div>
            </div>
            <div class="slider slider-for">
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="age-mark"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img8.png" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/img/img2.jpg" alt="">
                    <div class="box-btn flex">
                        <a href="" title="" class="hotgame">Hot game</a>
                        <a href="" title="" class="newgame">New game</a>
                        <a href="" class="btn_play flex-center" title="">Chơi ngay</a>
                    </div>
                    <div class="item__info">
                        <h5>Thần Long Cửu Kiếm</h5>
                        <div class="label flex-center">
                            <a href="" class="hotgame" title="">hot game</a>
                            <div class="age"><img src="./assets/img/AgeWatermark.png" alt=""></div>
                        </div>
                        <a href="" title="" class="btn_play flex-center">Chơi ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="game">
            <h2 class="title">Game hot</h2>
            <div class="game__list game__list--slider flex">
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img3.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Chân Long Giáng Thế</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img4.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img5.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Võ Lâm Truyền Kỳ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img6.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tam Quốc Chí</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img7.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tru Tiên</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="game">
            <h2 class="title">Game bạn đã chơi</h2>
            <div class="game__list game__list--slider flex">
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img3.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Chân Long Giáng Thế</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img4.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img5.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Võ Lâm Truyền Kỳ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img6.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tam Quốc Chí</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img7.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tru Tiên</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="game">
            <h2 class="title">Kho game</h2>
            <div class="game__list game__list--all flex">
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img3.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Chân Long Giáng Thế</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img4.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img5.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Võ Lâm Truyền Kỳ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img6.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tam Quốc Chí</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img7.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tru Tiên</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img3.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Chân Long Giáng Thế</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img4.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img5.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Võ Lâm Truyền Kỳ</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img6.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tam Quốc Chí</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
                <article class="post">
                    <a href="" class="post__thumb pr"><img src="./assets/img/img7.jpg" alt=""></a>
                    <div class="post__info">
                        <h3><a href="">Tru Tiên</a></h3>
                        <p>34.000 Người chơi</p>
                        <div class="rating"><div class="rating__value" style="width: 100%;"></div></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>