<main>
    <div class="login-page">
        <div class="header flex-lc">
            <h2 class="title">Đăng nhập</h2>
            <a href="https://thuclfc.gitlab.io/vieplay/build/register.html" title="" class="btn_link">Đăng ký</a>
        </div>
        <form action="" method="post" class="login_form">
            <div class="form-group effect_border">
                <div class="group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="name" required="">
                </div>
            </div>
            <div class="form-group effect_border">
                <div class="group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password" required="">
                </div>
            </div>
            <div class="form-row">
                <label class="checkbox">
                    <input type="checkbox" name="">
                    <span class="checked"></span>
                    Ghi nhớ đăng nhập
                </label>
                <a href="" title="" class="forgot-password">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="btn_submit flex-center">Đăng Nhập</button>
        </form>
        <div class="login_other">
            <h5>Hoặc đăng nhập bằng</h5>
            <a href="" title="" class="facebook flex-center"><i class="fab fa-facebook-f"></i> Facebook</a>
        </div>
    </div>
</main>