<main>
    <div class="napgame">
        <ul class="tab nav">
            <li><a href="#napgame" data-toggle="tab" class="active">Nạp game</a></li>
            <li><a href="#napgold" data-toggle="tab">Nạp Gold</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="napgame">
                <div class="game_list">
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Kiếm Vương Truyền Kỳ</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Võ Lâm Chi Mộng</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Cửu Long Thần Ki...</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Đột Kích: The Ailen</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Võ Lâm Chi Mộng</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Kiếm Vương Truyền Kỳ</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Đột Kích: The Ailen</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Võ Lâm Chi Mộng</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Cửu Long Thần Ki...</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Đột Kích: The Ailen</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Võ Lâm Chi Mộng</a></h5>
                    </div>
                    <div class="item">
                        <a href="" class="icon"><img src="./assets/img/app.png" alt=""></a>
                        <h5><a href="">Cửu Long Thần Ki...</a></h5>
                    </div>
                </div>
                <form action="" method="">
                    <div class="form-group effect_border">
                        <div class="group">
                            <label>Tên đăng nhập</label>
                            <input class="form-control" type="text" name="name" required="">
                        </div>
                    </div>
                    <div class="form-group effect_border">
                        <div class="group select">
                            <label>Chọn máy chủ</label>
                            <select name="">
                                <option selected></option>
                                <option value="">S1</option>
                                <option value="">S2</option>
                                <option value="">S3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group effect_border">
                        <div class="group select">
                            <label>Chọn nhân vật</label>
                            <select name="">
                                <option selected></option>
                                <option value="">AB</option>
                                <option value="">CD</option>
                                <option value="">dfghdlf</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group effect_border">
                        <div class="group">
                            <label>Số tiền nạp</label>
                            <input class="form-control" type="number" name="name" required="">
                            <span class="lb">vnđ</span>
                        </div>
                    </div>
                    <div class="method-payment">
                        <h5>Hình thức thanh toán</h5>
                        <ul class="method-list flex">
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment" checked>
                                    <span class="checked"></span>
                                    Ví Gold
                                </label>
                            </li>
                            <li>
                                <label class="checkbox checkbox--giftcode">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Gift Code
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ ATM nội địa
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ Visa/Master
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Ví điện tử MoMo
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ GATE
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ VTC
                                </label>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn_submit flex-center">Tiếp tục</button>
                </form>
            </div>
            <div class="tab-pane fade" id="napgold">
                <form action="" method="">
                    <div class="form-group effect_border">
                        <div class="group">
                            <label>Số tiền nạp</label>
                            <input class="form-control" type="number" name="name" required="">
                            <span class="lb">vnđ</span>
                        </div>
                    </div>
                    <div class="method-payment">
                        <h5>Hình thức thanh toán</h5>
                        <ul class="method-list flex">
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment" checked>
                                    <span class="checked"></span>
                                    Ví Gold
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ Visa/Master
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ ATM nội địa
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ viễn thông
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Ví điện tử MoMo
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ GATE
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="radio" name="payment">
                                    <span class="checked"></span>
                                    Thẻ VTC
                                </label>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn_submit flex-center">Tiếp tục</button>
                </form>
            </div>
        </div>
    </div>
</main>