<main>
    <div class="container">
        <div class="news-slider">
            <div class="item">
                <a href=""><img src="./assets/img/img10.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href=""><img src="./assets/img/img10.jpg" alt=""></a>
            </div>
        </div>
        <div class="news-list">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Rộ tin 369 sắp rời Top Esports, khả năng Bin chia tay Suning ...</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img14.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img14.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4">
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Iconic Ideas Of Art HTML Template</a></h3>
                            <p>Professional HTML templates. Responsive, fully customizable with easy Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, .....</p>
                            <time>January 5,2021</time>
                        </div>
                    </article>
                </div>
            </div>
            <button type="button" class="btn_viewmore flex-center">Xem thêm</button>
        </div>
    </div>
</main>