<main>
    <div class="register-page">
        <div class="header flex-lc">
            <a href="https://thuclfc.gitlab.io/vieplay/build/login.html" title="" class="btn_link">Đăng Nhập</a>
            <h2 class="title">Đăng ký</h2>
        </div>
        <form action="" method="post" class="register_form">
            <div class="form-group">
                <div class="box-select pr">
                    <h5>Quốc Gia</h5>
                    <div class="selected flex-lc pr">
                        <div class="flag"><img src="./assets/img/vn1.png" alt=""></div>
                        <div class="country">Việt Nam</div>
                    </div>
                    <ul class="select_list">
                        <li data-flag="./assets/img/vn1.png" data-country="Việt Nam"><img src="./assets/img/vn1.png" alt=""> Việt Nam</li>
                        <li data-flag="./assets/img/eng.png" data-country="Mỹ"><img src="./assets/img/eng.png" alt=""> Mỹ</li>
                    </ul>
                </div>
            </div>
            <div class="form-group effect_border">
                <div class="group">
                    <label>Tên hiển thị</label>
                    <input class="form-control" type="text" name="name" required="">
                </div>
            </div>
            <div class="form-group effect_border">
                <div class="group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="name" required="">
                </div>
            </div>
            <div class="form-group effect_border">
                <div class="group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password" required="">
                </div>
            </div>
            <div class="form-group effect_border">
                <div class="group">
                    <label>Xác nhận mật khẩu</label>
                    <input class="form-control" type="password" name="password" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="">
                    <span class="checked"></span>
                    <p>Tôi đồng ý nhận tin tức, khảo sát và các yêu cầu khác từ Vieplay</p>
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox" name="">
                    <span class="checked"></span>
                    <p>Tôi đã đọc và đồng ý với các <a href="" title="">Điều khoản sử dụng</a></p>
                </label>
            </div>
            <button type="submit" class="btn_submit flex-center">Tiếp tục</button>
        </form>
    </div>
</main>