<main>
    <div class="support-page">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-item--back"><a href="#">Quay lại trang trợ giúp</a></li>
            </ul>
            <form action="" class="search-form">
                <input type="text" name="" placeholder="Search Help Center...">
            </form>
            <div class="result">
                <h3>Kết quả cho “Võ Lâm Truyền Kỳ”</h3>
                <div class="flex">
                    <ul class="result__category">
                        <li><a href="">Tất cả các loại <span>88</span></a></li>
                        <li><a href="">Cửa hàng trò chơi <span>24</span></a></li>
                        <li><a href="">Tài khoản Vieplay <span>56</span></a></li>
                        <li><a href="">Hỗ trợ kỹ thuật <span>30</span></a></li>
                        <li><a href="">Hỗ trợ chơi game <span>16</span></a></li>
                        <li><a href="">Cửa hàng trò chơi <span>24</span></a></li>
                    </ul>
                    <div class="result__list">
                        <ul class="list">
                            <li>
                                <h5><a href="">Khắc phục sự cố tải game Võ Lâm Truyền Kỳ</a></h5>
                                <p>Nếu bạn gặp sự cố khi tải game vui lòng liên hệ...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Hướng dẫn chụp hình đính kèm hình ảnh trên điện thoại</a></h5>
                                <p>Cách 1: Chụp ảnh màn hình bằng cách sử dụng phím bấm vật lý: nhấn đồng thời nút Home...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Cách chụp toàn màn hình máy tính</a></h5>
                                <p>Các bạn ấn phím Print Screen (Nút này thường nằm ở góc trên bên phải bàn phím máy tính...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Hướng dẫn cách xóa Cache</a></h5>
                                <p>1. Khi mở Mozilla Firefox mở ký hiệu menu 3 gạch bên góc phải màn hình, chọn Library...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Cách giảm dung lượng hình ảnh</a></h5>
                                <p>iện nay trong quá trình gửi yêu cầu hỗ trợ, bạn cần cung cấp hình ảnh để hỗ trợ được nhanh hơn...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Hướng dẫn xem lại yêu cầu Hỗ trợ tài khoản</a></h5>
                                <p>Bước 1: Vào trang https://hotro.zing.vn è chọn Hỗ trợ tài khoản</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Quy Trình Giải Quyết Khiếu Nại</a></h5>
                                <p>Đối tượng khiếu nại: Là khách hàng sử dụng sản phẩm, dịch vụ có liên quan trực tiếp...</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                            <li>
                                <h5><a href="">Hướng dẫn xem lại yêu cầu Hỗ trợ tài khoản</a></h5>
                                <p>Bước 1: Vào trang https://hotro.zing.vn è chọn Hỗ trợ tài khoản</p>
                                <a href="" class="viewmore">xem thêm</a>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>