<main>
    <div class="page-detail nobg">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-item--back"><a href="#">Quay lại trang trợ giúp</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ra Mắt Bản Cài Gaba Game Trên IOS - Miễn Phí Giftcode</li>
            </ul>
            <h1 class="title">Ra Mắt Bản Cài Gaba Game Trên IOS - Miễn Phí Giftcode</h1>
            <time><i class="fas fa-clock"></i> 12:00, 4.30.2021</time>
            <article class="detail">
                <p>Quý vị thân mến,</p>
                <p>Chúng tôi xin thông báo tới các game thủ đang sử dụng điện thoại, thiết bị chạy hệ điều hành iOS đã có thể tải và sử dụng ứng dụng Gaba trên AppStore.</p>
                <img src="./assets/img/img18.png" alt="">
               <p>
                   Quý vị có thể tải ứng dụng cho hệ điều hành iOS theo link: <br>
                   <a href="">https://itunes.apple.com/us/app/cong-game-gaba/id1124368559?ls=1&mt=8</a> <br>
                   Một cách nữa là quí vị tìm kiếm ứng dụng theo từ khóa "Cổng Game Gaba" trên Appstore. <br>
                   Với những khách hàng sử dụng thiết bị Android có thể tải game theo link: <br>
                   <a href="">https://play.google.com/store/apps/details?id=vn.com.vega.game.gaba</a>
               </p>
            </article>
        </div>
    </div>
</main>