<main>
    <div class="support-page">
        <div class="container">
            <h1>WELCOME TO VINAPLAY STORE GAMES PLAYER SUPPORT</h1>
            <form action="" class="search-form">
                <input type="text" name="" placeholder="Search Help Center...">
            </form>
            <div class="game_list">
                <h2>Liên hệ với CSKH (Chọn Game để chat)</h2>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img16.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img17.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                            <div class="post__content flex-center">
                                <h3><a href="">Hiệp Khách Giang Hồ</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="guide">
                <h2>Hướng dẫn thông thường</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Ra Mắt Bản Cài Gaba Game Trên IOS - Miễn Phí</a></h3>
                            <p>Chúng tôi xin thông báo tới các game thủ đang sử dụng điện thoại, thiết bị chạy hệ điều hành iOS đã có thể tải và sử dụng ứng dụng Gaba trên AppStore.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Cốt truyện - yếu tố hay và...</a></h3>
                            <p>Không phải ai cũng có cảm giác thích thú với cốt truyện được xây dựng cầu kỳ trong nhiều tựa game.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Lost Judgment – Dự án khủng</a></h3>
                            <p>Mới đây, RGG Studio – đơn vị phát triển series Yakuza – đã công bố hậu bản của trò chơi Judgment đình đám.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Ra Mắt Bản Cài Gaba Game Trên IOS - Miễn Phí</a></h3>
                            <p>Chúng tôi xin thông báo tới các game thủ đang sử dụng điện thoại, thiết bị chạy hệ điều hành iOS đã có thể tải và sử dụng ứng dụng Gaba trên AppStore.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Cốt truyện - yếu tố hay và...</a></h3>
                            <p>Không phải ai cũng có cảm giác thích thú với cốt truyện được xây dựng cầu kỳ trong nhiều tựa game.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post">
                            <h3><a href="">Lost Judgment – Dự án khủng</a></h3>
                            <p>Mới đây, RGG Studio – đơn vị phát triển series Yakuza – đã công bố hậu bản của trò chơi Judgment đình đám.</p>
                            <a href="" class="btn_readmore">Đọc thêm</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>