<main>
    <div class="verification">
        <h4>Xác Thực Email</h4>
        <p>Vui lòng nhập mã số bí mật gồm 4 chữ số được gửi tới email của bạn</p>
        <form action="" method="">
            <div class="input flex">
                <input class="code" type="number" size="1" min="0" max="9" placeholder="-" required />
                <input class="code" type="number" size="1" min="0" max="9" placeholder="-" required />
                <input class="code" type="number" size="1" min="0" max="9" placeholder="-" required />
                <input class="code" type="number" size="1" min="0" max="9" placeholder="-" required />
            </div>
            <a href="" class="btn_resend">Gửi lại mã</a>
            <button type="submit" class="btn_submit">Xác thực</button>
        </form>
        <button type="button" class="btn_back" onClick="history.go(-1); return false;">Quay lại</button>
    </div>
</main>