:root{
  --gray: #292929;
  --yellow: #EDAF10;
}
body{
  background: #242424;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
  overflow-x: hidden;
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s; color: inherit;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
@mixin btn_play{
  width: 177px; height: 56px;
  background: linear-gradient(82.63deg, #ED5B1C 0%, #EDAF10 100%);
  border-radius: 2px;
  font-size: 16px; color: #fff; font-weight: 700;
  text-transform: uppercase;
  &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
  &::before{
    content: "";
    width: 30px; height: 16px; display: block; margin-right: 8px;
    background: url("#{$img-path}/play.png") no-repeat 0 0/contain;
  }
}
@mixin text1{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
@mixin text2{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
@mixin text3{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
@mixin btn_sbmit{
  @include text1;
  width: 100%; height: 56px;
  margin-top: 25px;
  background: linear-gradient(82.63deg, #ED5B1C 0%, #EDAF10 100%);
  border-radius: 2px;
  color: #fff;
  transition: .25s;
  &:hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
}
//header
header{
  width: 100%;
  background: var(--gray);
  position: fixed; z-index: 91;
  .logo{width: 168px; margin: 0 24px;}
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
}
.navbar{
  width: 100%; height: 100%;
  display: flex; align-items: center;
  margin: 0 auto; padding: 0;
  border-radius: 0; border: none;
}
.navbar-collapse{
  padding: 0;
  .logo-collapse,.close,.notifi,.user_login{display: none;}
}
.language{
  padding: 10px 0 10px 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  .dropdown-menu{
    min-width: 6rem; left: 20px; padding: 0;
    a{display: flex; font-size: 12px; align-items: center;}
    img{margin-right: 6px; width: 20px;}
  }
  .dropdown-item{padding: .4rem;}
  .dropdown-toggle{
    display: flex; align-items: center; background: none; border: none; padding: 0;
    img{margin-right: 8px;}
    &::after{
      content: "";
      width: 11px;
      height: 16px;
      display: block;
      margin-left: 8px;
      border: none;
      background: url("#{$img-path}/right-ic.png") no-repeat 0 0/contain;
    }
  }
  button{color: #fff; font-size: 12px; font-weight: 700;}
  button:focus{box-shadow: none;}
}
.navbar-nav{
  margin: 0 0 0 auto;
  >*+*{margin-left: 24px;}
  > li > a{display: block; padding: 30px 12px; color: rgba(255, 255, 255, 0.7); transition: all .25s ease;}
  > li > a:hover{color: var(--yellow);}
  > li> a.active{background: #131313; color: #fff; box-shadow: inset 0px -2px 0px #EDAF10;}
}
.login{
  margin-left: auto;
  &__before{
    a{
      width: 144px; height: 80px;
      display: flex; align-items: center; justify-content: center;
      color: #fff; font-weight: 500; text-transform: capitalize;
    }
    a:hover{color: var(--yellow);}
    .active{
      background: #EDAF10; border-radius: 2px; font-weight: 700;
      &:hover{color: #fff; background: #a0770b;}
    }
  }
  &__after{
    padding: 0 24px;
    &--m{display: none; padding: 0;}
    > .flex-lc{padding: 30px 0; justify-content: space-around;}
  }
  .gold{
    margin-right: 20px;
    padding-right: 20px;
    background: url("#{$img-path}/icon-wallet.png") no-repeat right center;
    span{margin-left: 4px; font-size: 16px; font-weight: 700; color: var(--yellow);}
  }
  .dropdown-toggle{
    align-items: center;
    &::after{
      width: 11px; height: 16px;
      display: block;
      margin-left: 8px;
      border: none;
      background: url("#{$img-path}/right-ic.png") no-repeat 0 0/contain;
    }
  }
  .dropdown-menu{
    width: 193px;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    box-shadow: inset 0px -4px 0px #EDAF10;
    right: 10px; left: inherit;
    p{padding-bottom: 24px; margin-bottom: 12px; border-bottom:  1px solid rgba(255, 255, 255, 0.2); color: #fff; font-weight: 700; font-size: 14px;}
    a{color: rgba(255, 255, 255, 0.5);}
    a:hover{background: none; color: var(--yellow);}
    a:last-child{padding-bottom: 0;}
  }
  .dropdown-item{padding: .8rem 0; font-size: 14px;}
  .avatar{width: 14px; height: 16px; margin-right: 8px; object-fit: cover;}
  span{color: #fff; font-size: 14px;}
  button{background: none;}
  button:focus{box-shadow: none;}
  .menu{
    a{
      display: block;
      padding: 21px 0;
      box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7); font-size: 20px; line-height: 30px; text-align: center;
    }
  }
  .btn_logout{color: #D2141F; text-transform: capitalize;}
  .name{
    color: #fff;
  }
}

//main
main{padding-top: 80px;}
.box-slider{
  padding: 55px 0;
  .box-btn{
    align-items: flex-end;
    position: absolute;
    right: 64px; bottom: 48px;
    a{width: 140px; height: 41px; font-size: 0;}
    >*+*{margin-left: 40px;}
    .hotgame{background: url("#{$img-path}/hotgame.png") no-repeat 0 0/contain;}
    .newgame{background: url("#{$img-path}/newgame.png") no-repeat 0 0/contain;}
    .btn_play{@include btn_play;}
  }
}
.slider-nav,.slider-for{padding: 0;}
.slider-for{
  width: calc(100% - 17.046%);
  .slick-slide{
    > img{width: 100%; height: 640px; object-fit: cover;}
  }
  .item__info{display: none; padding: 16px; background: var(--gray);}
  .label{
    margin-bottom: 24px;
    >*+*{margin-left: 24px;}
    .hotgame{width: 140px; height: 41px; display: block; background: url("#{$img-path}/hotgame.png") no-repeat 0 0/contain; font-size: 0;}
  }
  h5{
    margin-bottom: 24px;
    font-size: 20px; font-weight: 700; line-height: 30px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    text-align: center; color: #fff; text-transform: capitalize;
  }
  .btn_play{@include btn_play; width: 100%;}
  .age-mark{width: 107px; position: absolute; right: 64px; bottom: 144px;}
  .age{width: 87px;}
}
.slider-nav{
  width: 17.046%;
  background: var(--gray);
  .item{padding: 12.33px 32px; display: flex !important; align-items: center; cursor: pointer;}
  img{width: 64px; height: 80px; margin-right: 15px; object-fit: cover;}
  .slick-current{background: rgba(237, 175, 16, 0.1);}
  h5{
   /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;*/
    flex: 1;
    color: #fff; line-height: 20px;
  }
}
.game{
  margin: 40px 0;
  &__list{margin: 0 -16px;}
  .post{
    width: 20%; padding: 0 16px; margin-bottom: 40px;
    &__thumb{padding-bottom: 133.205%;}
    &__info{margin-top: 24px;}
  }
  h3{margin-bottom: 8px; font-size: 16px; line-height: 24px; color: #fff;}
  h3 a:hover{color: var(--yellow);}
  p{margin-bottom: 13px; color: rgba(255, 255, 255, 0.7);}
  .rating{
    width: 100px; height: 21px; margin: 5px 0; position: relative;
    &__value{height: 100%; background: url("#{$img-path}/star.png");}
  }
}
.login-page,.register-page{
  max-width: 478px; padding: 0 15px; margin: 80px auto 105px;
  .header{
    margin-bottom: 48px;
    justify-content: space-between;
    a{color: rgba(255, 255, 255, 0.5); font-size: 20px; line-height: 30px; font-weight: 700;}
  }
  h2.title{margin-bottom: 0; font-size: 40px; line-height: 54px; font-weight: 700;}
  .form-group{margin-bottom: 24px;}
  .form-row{margin: 0; padding: 2px 0;}
  .forgot-password{
    margin-left: auto; color: #EDAF10;
    &:hover{text-decoration: underline;}
  }
  label{margin-bottom: 0;}
  .btn_submit{@include btn_sbmit;}
  .login_other{
    margin-top: 48px;
    text-align: center;
    h5{margin-bottom: 24px; color: rgba(255, 255, 255, 0.7); line-height: 20px;}
    i{margin-right: 16px; color: #fff;}
    .facebook{
      @include text1;
      width: 100%; height: 56px;
      background: #1877F2;
      border-radius: 2px; color: #fff;
      &:hover{background: #0a58bd;}
    }
  }
}
.register-page{
  h2.title{
    &::after{margin-left: auto;}
  }
}
.verification{
  min-height: 50vh;
  max-width: 478px;
  padding: 0 15px;
  margin: 80px auto 100px;
  .input{
    >*+*{margin-left: 24px;}
  }
  h4{margin-bottom: 16px; font-size: 24px; line-height: 32px; color: #fff;}
  p{margin-bottom: 48px; color: rgba(255, 255, 255, 0.7); font-size: 16px; line-height: 24px;}
  .code{
    width: 94px; height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--gray);
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    -webkit-appearance: none;
    &:focus{outline: 1px solid var(--yellow);}
  }
  .btn_resend{
    display: block; margin-top: 24px; color: var(--yellow); text-align: center;
    &:hover{text-decoration: underline;}
  }
  .btn_submit{@include btn_sbmit;}
  .btn_back{
    display: block;
    width: 100%;
    margin-top: 48px;
    text-align: center;
    color: #fff;
    background: none;
    &:hover{color: var(--yellow);}
  }
}
.account{
  margin: 40px 0 100px;
  justify-content: center;
  .avatar{
    padding: 40px; text-align: center;
    &__img{width: 93px; margin: 0 auto 16px; border-radius: 50%; overflow: hidden;}
    &__name{font-size: 16px; line-height: 24px;}
  }
  .wallet{
    padding: 24px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    &__m{
      font-size: 24px; line-height: 36px; font-weight: 700; color: var(--yellow);
      .icon-wl{margin-left: 4px; width: 16px; height: 16px; background: url("#{$img-path}/icon-wallet.png") no-repeat 0 0/contain;}
    }
    .btn_recharge{
      width: 80px; height: 34px;
      background: linear-gradient(82.63deg, #ED5B1C 0%, #EDAF10 100%);
      border-radius: 2px;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      position: absolute; right: 24px; top: 24px;
      &:hover{-webkit-filter: saturate(1.9); filter: saturate(1.9);}
    }
    h5{margin-bottom: 4px; line-height: 20px;}
  }
  .tab{
    display: block;
    li a{display: block; padding: 20px 24px; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);}
    a:hover{color: var(--yellow);}
    .active{background: rgba(237, 175, 16, 0.1); color: var(--yellow);}
  }
  .history-list{
    li{padding: 15px 0; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);}
    .status{
      display: inline-block; margin-bottom: 9px; padding: 3px 7px; font-size: 12px; border-radius: 2px;
      &.success{background: #4FC026;}
      &.fail{background: #D2141F;}
    }
    p{max-width: 250px; font-size: 16px; line-height: 24px; color: #fff;}
    time{
      margin-left: 9px; padding-left: 9px; font-size: 12px; color: rgba(255, 255, 255, 0.7); position: relative;
      &::before{
        content: "";
        width: 3px; height: 3px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        position: absolute; left: 0; top: 50%; transform: translateY(-50%);
      }
    }
    .gold{
      padding-right: 20px;
      background: url("#{$img-path}/icon-wallet.png") no-repeat right center;
      font-size: 20px; line-height: 30px; font-weight: 700; color: var(--yellow);
    }
  }
  &__left,&__right{margin: 0 16px; background: #000;}
  &__left{width: 328px; padding-bottom: 16px;}
  &__right{width: 568px; padding: 40px;}
  h3{margin-bottom: 32px; color: #fff; font-weight: 700; font-size: 24px; line-height: 36px;}
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .btn_submit{@include btn_sbmit; height: 44px; width: 137px; margin-top: 16px; font-size: 14px; float: right;}
} 
.news-slider{
  .slick-dots{
    margin-top: 0;
    position: absolute;
    width: 100%;
    bottom: 16px;
    li{margin: 0 4px;}
    button{width: 12px; height: 12px; background: rgba(237, 175, 16, 0.3);}
    .slick-active button{background: rgba(237, 175, 16, 1);}
  }
}
.news-list{
  margin-top: 48px;
  .col-lg-3{padding: 0 15.5px;}
  .post{
    margin-bottom: 32px; color: #fff;
    &__thumb{padding-bottom: 74.66%;}
    h3,p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3{margin-bottom: 12px; font-weight: 700; font-size: 20px; line-height: 30px; -webkit-line-clamp: 2;}
    h3:hover a{color: var(--yellow);}
    p{margin-bottom: 16px; font-size: 12px; line-height: 18px; -webkit-line-clamp: 3;}
    time{font-size: 12px; color: rgba(255, 255, 255, 0.7);}
  }
}
.post{
  &__thumb{
    display: block; position: relative; overflow: hidden;
    &:hover img{transform: scale(1.08);}
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; transition: transform .6s ease-out;}
  }
}
.page-detail{
  margin-bottom: 80px;
  min-height: 80vh;
  background: url("#{$img-path}/bg-detail.png") no-repeat 0 0/contain;
  &.nobg{background: none;}
  .container{max-width: 958px;}
  .title{
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    font-weight: 700;
  }
  time{
    display: block; margin-bottom: 24px; color: rgba(255, 255, 255, 0.7);
    i{margin-right: 7px;}
  }
  h4{margin-bottom: 24px; font-size: 16px; font-weight: 700; line-height: 24px; color: #fff;}
  article{font-size: 16px; line-height: 24px;}
  figcaption{margin-top: 10px; font-size: 14px; text-align: center;}
  .tags{
    padding: 35px 0;
    h5{font-size: 16px; line-height: 24px;}
    &__list{
      flex: 1;
      a{
        display: inline-block; margin: 5px 0 5px 16px; padding: 4px 8px;
        background: rgba(237, 175, 16, 0.3);
        border-radius: 2px;
        font-size: 12px;
        color: var(--yellow);
      }
    }
  }
  .comment{
    li{display: flex; justify-content: space-between; margin-bottom: 16px;}
    &__form{justify-content: space-between;}
    .content,textarea{width: calc(100% - 54px); padding: 16px; background: var(--gray); color: rgba(255, 255, 255, 0.7); position: relative;}
    .avatar{width: 38px; height: 38px; overflow: hidden; border-radius: 50%;}
    time{position: absolute; top: 16px; right: 16px; font-size: 12px;}
    h5{display: inline-block; padding: 0 10px 8px 0; margin-bottom: 8px; font-weight: 700; color: #fff; border-bottom: 0.5px solid rgba(255, 255, 255, 0.5); line-height: 20px;}
    textarea{
      border: none; height: 98px;
      &:focus{outline: none;}
    }
    .btn_send{
      @include btn_sbmit; width: 110px; height: 40px; margin-left: auto;
    }
  }
}
.faq-page{
  padding: 32px 0;
  .container{max-width: 934px;}
  h3{margin: 0 0 16px -23px; font-weight: 700; font-size: 32px; line-height: 44px; color: #fff;}
  time{@include text2; display: block; padding-bottom: 8px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
  .faq-list{
    padding: 16px 0 24px;
    li{padding: 8px 0; display: flex; align-items: center;}
    li::before{
      content: "";
      width: 4px; height: 4px;
      margin-right: 8px;
      display: block;
      background: rgba(255, 255, 255, 0.7);
    }
    li:hover{
      a{color: var(--yellow);}
      &::before{background: var(--yellow);}
    }
    a{color: rgba(255, 255, 255, 0.7); font-size: 14px; line-height: 20px; flex: 1;}
  }
  .faq-answer{
    .item{padding: 24px 0;  border-top: 1px solid rgba(255, 255, 255, 0.2);}
    h4{margin: 0 0 16px -23px; font-size: 20px; line-height: 30px; font-weight: 700; color: #fff;}
    article{font-size: 16px; line-height: 24px; white-space: pre-line; color: rgba(#fff,.7);}
  }
  .btn_viewmore{margin-top: 24px;}
}
.support-page{
  color: #fff;
  &--detail{
    max-width: 925px;
    margin: 0 auto;
  }
  h1{
    margin: 56px 0 40px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2{display: flex; align-items: flex-end; margin-bottom: 48px; font-size: 24px; line-height: 36px; font-weight: 700; white-space: nowrap;}
  h2::after{
    content: "";
    width: 100%; height: 1px;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    margin: 0 0 10px 25px;
  }
  .search-form{
    margin-bottom: 80px;
    input{
      width: 100%; height: 48px;
      padding: 0 46px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      background: #292929 url("#{$img-path}/icon-search.png") no-repeat 16px center;
    }
    input:focus{outline: none;}
  }
  .game_list{
    .col-lg-3{margin-bottom: 32px; padding: 0 15.75px;}
  }
  .post{
    position: relative;
    &:hover{
      .post__content{opacity: 1; visibility: visible;}
    }
    &__thumb{
      padding-bottom: 104%;
      &:hover img{transform: scale(1);}
    }
    &__content{
      width: 100%; height: 100%;
      padding: 10px;
      margin-top: 0;
      background: rgba(0, 0, 0, 0.5);
      position: absolute; top: 0; left: 0;
      opacity: 0; visibility: hidden;
      transition: .3s;
    }
    h3{font-size: 20px; color: #fff;}
    h3 a:hover{color: var(--yellow);}
  }
  .guide{
    margin-top: 48px;
    .col-lg-4{margin-bottom: 30px;}
    .post{
      background: var(--gray);
      padding: 24px 16px 16px;
    }
    h3{@include text1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    h3 a:hover{color: var(--yellow);}
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      min-height: 60px;
      text-overflow: ellipsis;
      font-size: 14px; line-height: 22px;
    }
    .btn_readmore{
      display: inline-block;
      margin-top: 16px;
      padding: 4px 8px;
      background: rgba(237, 175, 16, 0.3);
      border-radius: 2px;
      color: #EDAF10;
      font-size: 12px; line-height: 18px;
      &:hover{background: rgba(237, 175, 16, 0.6);}
    }
  }
  .result{
    margin: -40px 0 80px;
    &__category,&__list{border-top: 1px solid rgba(255, 255, 255, 0.1);}
    &__category{
      width: 14.8%;
      padding-right: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      li{margin-top: 24px;}
      a{font-size: 12px; line-height: 18px;}
      span{margin-left: 16px; font-size: 14px; line-height: 20px; color: rgba(255, 255, 255, 0.7);}
    }
    &__list{
      width: calc(100% - 14.8%);
      border-right: 1px solid rgba(255, 255, 255, 0.1);;
    }
    .list{
      li{padding: 16px 45px 16px 24px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); position: relative;}
      h5{margin-bottom: 8px; font-size: 16px; line-height: 24px;}
      p{font-size: 14px; line-height: 20px; color: rgba(255, 255, 255, 0.5);}
    }
    .pagination{
      padding: 16px 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .page-link{
        padding: 0 5px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.5);
        background: none;
        border: none;
      }
      .active .page-link{color: #fff;}
    }
    .viewmore{
      width: 16px; height: 17px;
      background: url("#{$img-path}/next.png") no-repeat;
      font-size: 0;
      position: absolute; top: 33px; right: 24px;
    }
    h3{margin-bottom: 15px; font-size: 32px; line-height: 44px;}
    a:hover{color: var(--yellow);}
  }
}

.napgame{
  padding: 48px 0;
  min-height: 70vh;
  .tab{
    max-width: 928px;
    margin: 0 auto 40px;
    padding-bottom: 20px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    >*+*{margin-left: 56px;}
    a{@include text3; color: rgba(255, 255, 255, 0.5); text-transform: capitalize; position: relative;}
    .active{
      color: var(--yellow);
      &::after{
        content: "";
        width: 40px; height: 4px;
        background: var(--yellow);
        position: absolute; left: 0; bottom: -22px;
      }
    }
  }
  .game_list{
    margin-bottom: 56px;
    .item{padding: 0 24px; opacity: .3;}
    .item:hover{
      h5,a{color: var(--yellow);}
    }
    .icon{
      width: 84%; display: block; margin: 0 auto;
      img{width: 67%; margin: 0 auto; display: block;}
    }
    .slick-current{
      opacity: 1;
      h5{font-size: 16px;}
      .icon img{width: 100%;}
    }
    .slick-track{display: flex; align-items: flex-end;}
    h5{margin-top: 16px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #fff; text-align: center;}
  }
  form{
    max-width: 478px;
    padding: 0 15px;
    margin: 0 auto 66px;
    .effect_border{
      label{ color: rgba(255, 255, 255, 0.5); font-size: 14px; line-height: 20px;}
      &.focus label,&.filled label{font-size: 12px; line-height: 18px;}
    }
    select{
      width: 100%;
      padding: 0 15px;
     /* height: 60px;
      padding: 0 16px;
      border: 1px solid rgba(255, 255, 255, 0.1);*/
      border: none;
      color: #fff;
      background: var(--gray);
      -webkit-appearance:none;
      appearance:none;
      &:focus{outline: none;}
    }
    .select::after{
      content: "";
      border-width: 5px;
      border-style: solid;
      border-color: rgba(#fff,.7) transparent transparent transparent;
      position: absolute; top: 27px; right: 20px;
    }
    option{display: inline-block; padding: 15px 0;}
    .lb{position: absolute; right: 20px; top: 20px; color: rgba(255, 255, 255, 0.5);}
  }
  .method-payment{
    margin-top: 24px;
    label{margin-bottom: 0;}
    li{width: 50%; padding: 9.5px 0;}
    h5{@include text1; margin-bottom: 8px; color: #fff;}
  }
  .btn_submit{@include btn_sbmit;}
}
//footer
footer{
  width: 100%;
  padding: 32px 0;
  background: url("#{$img-path}/bg-footer.jpg") no-repeat 50% 0/cover;
  .logo{display: block; width: 176px; margin-right: 64px;}
  .menu{
    >*+*{margin-left: 40px;}
    a{color: #fff; line-height: 20px;}
    a:hover{color: var(--yellow);}
  }
  .text{max-width: 66%;}
  .text,.copyright{padding: 32px 0 16px; font-size: 12px; line-height: 18px; color: rgba(255, 255, 255, 0.7);}
  .social{
    margin-left: auto;
    >*+*{margin-left: 40px;}
    i{font-size: 23px;}
    a:hover{color: var(--yellow);}
  }
}

//uikit
.pr{position: relative;}
.flex-nowrap{flex-wrap: nowrap;}
h2.title{
  margin-bottom: 40px;
  font-size: 20px; line-height: 30px; color: #fff;
  &::after{
    content: "";
    width: 40px; height: 4px;
    display: block; margin-top: 12px;
    background: #EDAF10;
  }
}
button{
  border: none; cursor: pointer; padding: 0;
  &:focus{outline: none;}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-group{position: relative;}
.slick-arrow{
  width: vw(26px); height: vw(50px);
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  font-size: 0;
  &:focus{outline: none;}
}
.slick-next{right: vw(45px);}
.slick-prev{left: vw(45px); transform: translateY(-50%) rotate(180deg);}
.slick-dots{
  display: flex; justify-content: center;
  margin-top: 15px;
  li{margin: 0 6px;}
  button{
    width: 10px; height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 0;
  }
  .slick-active button{background: rgba(255, 255, 255, 0.8);}
}
.effect_border{
  position: relative;
  label{
    position: absolute;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    transition: all .3s ease;
    top: 1.125rem;
    left: 16px;
  }
  .form-control,select{
    margin-top: 23px;
    height: 35px;
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    font-size: 16px;
    line-height: 24px;
    color: rgba(#fff,.9);
    padding: .2rem 0;
    border-radius: 0;
    &:focus{outline: none; box-shadow: none;}
  }
  .group{
    width: 100%; height: 60px;
    padding: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--gray);
    &.select{
      padding: 0;
      &:focus,&:visited{border: none;}
    }
    &:focus,&:visited{border: 1px solid #EDAF10;}
  }
  &.focus,&.filled{
    label{top: .5rem; font-size: 12px; line-height: 18px;}
    .form-control{background-size: 100% 100%,100% 100%; transition-duration: 0.3s;}
  }
  &.focus{
    .group{border: 1px solid var(--yellow);}
    .group.select{border: 1px solid rgba(255, 255, 255, 0.1);}
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(#fff,.9);
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

}
.checkbox{
  position: relative;
  display: flex; align-items: center;
  input{opacity: 0; position: absolute; left: 0;}
  .checked{
    width: 18px; height: 18px;
    display: block; margin-right: 10px;
    border-radius: 2px;
    border: 2px solid rgba(#fff,.5);
  }
  input:checked + .checked{border: none; background: #EDAF10 url("#{$img-path}/checked.png") no-repeat center center;}
  a{margin-left: 5px; color: var(--yellow);}
  p{flex: 1;}
  &--giftcode{
    color: #4FC026;
    .checked{border: 2px solid #4FC026;}
    input:checked + .checked{border: none; background: #4FC026 url("#{$img-path}/checked.png") no-repeat center center;}
  }
}
.box-select{
  width: 100%; height: 60px;
  background: var(--gray);
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  &::after{
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: rgba(#fff,.7) transparent transparent transparent;
    position: absolute; right: 22px; top: 50%; transform: translateY(-50%);
  }
  &.show{
    .select_list{display: block;}
    &::after{transform: translateY(-50%) rotate(180deg);}
  }
  .selected{cursor: pointer;}
  h5{margin-left: 42px; color: #ADA4A8; font-size: 12px;}
  .select_list{
    width: 100.5%;
    display: none;
    background: var(--gray);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute; top: 58px; left: -1px; z-index: 2;
    >*+*{border-top: 1px solid rgba(255, 255, 255, 0.1);}
    li{display: flex; align-items: center; padding: 15px 20px; cursor: pointer;}
    img{width: 32px; margin-right: 10px;}
  }
  .flag{width: 32px; margin-top: -15px; margin-right: 12px;}
  .country{margin-top: 5px; color: rgba(#fff,.8); font-size: 16px; line-height: 24px;}
}
.breadcrumb{
  margin-bottom: 0;
  padding: 40px 0; background: none;
  a:hover{color: var(--yellow);}
  .breadcrumb-item.active{color: #fff;}
  .breadcrumb-item--back a{display: flex; align-items: center;}
  .breadcrumb-item--back a::before{
    content: "";
    width: 11px;
    height: 16px;
    display: block;
    margin-right: 8px;
    background: url("#{$img-path}/right-ic.png") no-repeat 0 0/contain;
    transform: rotate(90deg);
  }
}
.btn_viewmore{
  width: 121px; height: 36px;
  margin: 80px auto 100px;
  background: #fff;
  border-radius: 2px;
  font-weight: 700;
  transition: .25s;
  &:hover{background: var(--yellow); color: #fff;}
}

@media (min-width: 1440px) {
  .container{max-width: 1438px;}
}

@media (max-width: 1440px) {
  .slider-nav{
    width: 20%;
    .item{padding: 8px 20px;}
    img{height: 79px;}
  }
  .slider-for{
    width: calc(100% - 20%);
    .slick-slide > img{height: 486.56px;}
  }
  .napgame{
    .game_list{
      .item{padding: 0 6px;}
    }
  }
}

@media (max-width: 1200px) {
  header{
    .logo{width: 140px; margin: 0 15px;}
    .language{padding-left: 15px;}
  }
  .login{
    &__before{
      a{width: 100px; height: 60px;}
    }
    &__after{padding: 0 0 0 15px;}
    .gold{margin-right: 5px;}
  }
  .navbar-nav{
    >*+*{margin-left: 15px;}
    > li > a{padding: 21px 8px}
  }
  main{padding-top: 60px;}
  .slider-nav{
    width: 23%;
    .item{padding: 8px 15px;}
  }
  .slider-for{width: calc(100% - 23%);}
  .support-page{
    .result{
      &__category{width: 25%;}
      &__list{width: 75%;}
    }
  }
}

@media (max-width: 1023px) {
  header{
    height: 70px;
    .logo{width: 140px; margin: 0;}
  }
  .navbar{width: 100%; padding: 0 15px; justify-content: flex-start;}
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: 70px; left: -100%;
    width: 100%; height: calc(100% - 70px);
    background: #131313;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.is-show{left: 0;}
    .close{
      display: block; text-indent: -9999em;
      width: 70px; height: 70px;
      background: #EDAF10 url("#{$img-path}/close.png") no-repeat center center;
      opacity: 1;
      position: absolute; top: -70px; right: 0;
    }
  }
  .navbar-toggler{
    width: 70px;
    height: 70px;
    background: #EDAF10;
    padding: 0; border-radius: 0;
    position: absolute; right: 0; top: 0;
    span{
      display: block; width: 24px; height: 2px; border-radius: 3px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 24px; height: 2px; background: #fff; position: absolute; border-radius: 3px;
    }
    span:before{top: -7px;}
    span:after{bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 24px; transform: rotate(45deg);}
    span:after{width: 33px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    border-top: 1px solid #2b2b2b;
    >*+*{margin: 0;}
    a{text-align: center; font-size: 16px;}
    > li > a{padding: 21px 0; font-size: 20px; box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1); line-height: 30px;}
    > li > a.active{
      background: rgba(237, 175, 16, 0.1);
      box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    }
  }
  .language{
    border-left: none; padding: 24px 0;
    .dropdown-menu{top: 70%;}
    button{font-size: 16px; line-height: 24px;}
  }
  .login{
    width: 100%; margin-left: inherit;
    &__before{
      a{width: 50%; background: #fff; color: #000; font-size: 16px; font-weight: 700; text-transform: capitalize;}
      .active{color: #fff;}
    }
    &__after{
      &--m{display: block;}
      &--pc{display: none;}
    }
  }

  main{padding-top: 70px;}
  .box-slider{
    padding: 12px 0;
    margin: 0 0 40px -7.5px;
    .box-btn{display: none;}
  }
  .slider-nav{display: none !important;}
  .slider-for{
    width: 100%;
    .item{
      width: 345px; padding: 0 7.5px;
      > img{max-height: 205px;}
    }
    .item__info{display: block;}
    .age-mark{display: none;}
  }
  .game{
    margin: 8px 0 0;
    &__list {
      margin: 0 0 0 -8px;
      &--all{
        .post{width: 25%;}
      }
    }
    .post{padding: 0 8px;}
  }
  .login-page,.register-page{
    margin: 40px auto 100px;
    .header{margin-bottom: 40px;}
    h2.title{font-size: 34px; line-height: 48px;}
  }
  .account{
    &__left,&__right{margin: 0 1%;}
    &__left{width: 38%;}
    &__right{width: 58%;}
  }
  .napgame{
    .tab{padding: 0 15px 15px;}
    .tab a{font-size: 18px;}
    .tab .active::after{height: 3px; bottom: -18px;}
    .game_list{
      h5{font-size: 12px;}
      .slick-current h5{font-size: 14px;}
    }
  }
  .news-slider,.news-list{padding-right: 15px;}
  .news-list{
    margin-top: 30px;
    .post{
      h3{font-size: 18px; line-height: 26px;}
    }
  }
  .page-detail{
    .container{padding-right: 15px;}
    .title{line-height: 34px; font-size: 24px;}
    article{font-size: 14px;}
  }
  .faq-page{
    .container{padding-right: 15px;}
    h3{margin-left: 0; font-size: 26px; line-height: 36px;}
    .faq-answer{
      h4{margin-left: 0; font-size: 18px; line-height: 26px;}
      article{font-size: 14px;}
    }
    .faq-list{
      li{padding: 5px 0;}
      a{font-size: 13px;}
    }
  }
  .post{
    &__thumb{
      &:hover img{transform: scale(1);}
    }
  }
  .support-page{
    .container{padding-right: 15px;}
    .search-form{margin-bottom: 60px;}
    .result{
      margin-top: 0;
      h3{font-size: 22px; line-height: inherit;}
      &__category{
        span{margin-left: 8px; font-size: 13px;}
      }
      .list{
        li{padding: 15px 30px 15px 15px;}
        h5{font-size: 14px; line-height: 20px;}
        p{font-size: 13px;}
      }
      .pagination{padding: 15px;}
      .viewmore{right: 10px; top: 50%; transform: translateY(-50%);}
    }
  }
  //uikit
  .container{padding-right: 0;}
  h2.title{margin-bottom: 24px;}
  .btn_viewmore{margin: 30px auto 50px;}
  .breadcrumb{
    padding: 20px 0;
    &-item{padding: 4px 0;}
  }
}
@media (max-width: 768px) {
  .game{
    &__list {
      &--all{
        padding-right: 7px;
        .post{width: 33.33%;}
      }
      &--slider{
        .post{max-width: 271px;}
      }
    }
  }
  footer{
    .logo{margin: 0 0 20px;}
  }
}
@media (max-width: 640px) {
  .account{
    &__left,&__right{width: 94%; margin: 1% 0;}
    &__right{padding: 30px;}
  }
  .verification{
    .input{justify-content: center;}
    .input > * + * {margin-left: 3%;}
    .code{width: 22%;}
  }
  .page-detail{
    .comment{
      .content,textarea{width: calc(100% - 46px);}
    }
  }
  .game{
    &__list {
      &--all{
        .post{width: 50%;}
      }
    }
  }
  .support-page{
    h1{margin: 30px 0; font-size: 22px; line-height: inherit;}
    h2{margin-bottom: 30px; font-size: 20px; line-height: inherit; white-space: normal;}
    h2::after{display: none;}
    .search-form{margin-bottom: 30px;}
    .game_list{
      .col-lg-3{padding: 0 7px; margin-bottom: 15px;}
    }
  }
  footer{
    height: auto;
    background: url("#{$img-path}/bg-footer-m.jpg") no-repeat right center/cover;
    .container{padding-right: 15px;}
    .flex-center{justify-content: flex-start;}
    .menu{
      width: 100%; display: block;
      >*+*{margin-left: 0;}
      li a{display: block; padding: 12px 0;}
    }
    .social{
      margin: 12px 0 30px;
      justify-content: center;
      margin-left: inherit;
    }
    .text,.copyright{max-width: 100%; padding: 15px 0;}
    .copyright{width: 100%; text-align: left;}
  }
}